.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: $pb-black;

  .site-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    transition: height 0.4s ease-in-out;
  }

  .site-header-logo {
    flex-grow: 0;
    height: 100%;
    width: 150px;
    max-width: 150px;

    a {
      cursor: pointer;
      transition: width .4s ease-in-out;
    }
  }

  .site-header-panel {
    flex-grow: 1;

    & > * {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include media-breakpoint-up(md) {
      & {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .main-nav {
      @include media-breakpoint-up(md) {
        & {
          display: flex;
          align-items: center;
          width: 94%;
          max-width: 620px;
        }
      }

      & > * {
        @include media-breakpoint-up(md) {
          & {
            flex-grow: 1;
          }
        }
      }
    }
  }

  .site-header-login {
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      width: 20%;
      min-width: 150px;
    }
  }
}
