.container-wide {
  width: 94%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.flex-auto {
  flex: 1 1 auto !important;
}

.text-love {
  color: $red;
}

.text-messenger {
  color: $messenger-blue;
}

.text-telegram {
  color: $telegram-blue;
}

.text-facebook {
  color: $facebook-blue;
}

.text-instagram {
  color: $instagram-random;
}

.text-gmaps {
  color: $google-maps;
}
